.funcionalidad {
  width: 100%;
  min-height: calc(100vh - 100px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 120px 0 60px 0;
  overflow: hidden;
}

.funcionalidadIndex {
  width: 100%;
  min-height: fit-content;
  max-height: fit-content;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0 0 0;
  overflow: hidden;
}

.funcionalidad:before,
.funcionalidadIndex:before {
  content: "";
  background: color-mix(in srgb, var(--background-color), transparent 30%);
  position: absolute;
  inset: 0;
  z-index: 2;
}

.funcionalidad img,
.funcionalidadIndex img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.funcionalidad .container,
.funcionalidadIndex .container {
  position: relative;
  z-index: 3;
}

.funcionalidad .icon-box,
.funcionalidadIndex .icon-box {
  background-color: var(--surface-color);
  padding: 25px 20px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.25s ease-in-out !important;
  border-radius: 8px;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.icon-box .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.icon-box .title a {
  color: #2c3e50 !important;
  transition: all 0.25s ease-in-out !important;
}

.icon-box .description {
  font-size: 15px;
  margin-bottom: 0;
  color: color-mix(in srgb, var(--default-color), transparent 40%);
}

.icon-box .icon {
  margin-bottom: 20px;
  padding-top: 10px;
  display: inline-block;
  font-size: 36px;
  line-height: 1;
  color: #0d8eca;
  transition: all 0.25s ease-in-out !important;
}

@media (min-width: 640px) {
  .icon-box:hover {
    transform: scale(1.05) !important;
  }

  .icon-box:hover .title a,
  .icon-box:hover .icon {
    color: #0d8eca !important;
  }
}
