.sliderFull {
  width: 100%;
  padding: 0;
  margin-inline: 0;
}

.sliderFull .btn-custom {
  background-color: transparent !important;
  left: 50%;
  transform: translateX(-50%); /* Centra el botón horizontalmente */
}

.sliderFull .btn-custom:hover {
  background-color: white !important;
  border: 1px solid black !important;
}

.sliderFull .carousel {
  padding: 0;
}

.sliderFull .carousel-inner {
  position: relative; /* Asegura que los botones se posicionen dentro de este contenedor */
}

.sliderFull .carousel-item img {
  display: block; /* Elimina el espacio extra debajo de la imagen */
  margin: 0 auto; /* Centra la imagen horizontalmente */
  width: 100%; /* Ajusta el tamaño de la imagen */
  max-height: 88vh; /* Mantiene la proporción de la imagen */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  filter: brightness(40%);
}

.sliderFull .title-container {
  position: absolute;
  top: 30%; /* Ajusta la distancia desde la parte inferior de la imagen */
  left: 50%;
  transform: translateX(-50%); /* Centra el botón horizontalmente */
  z-index: 10; /* Asegura que el botón esté por encima de la imagen */
  font-size: 3em;
  font-weight: 500;
  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
  text-align: center;
}

.sliderFull .text-container {
  position: absolute;
  top: 40%; /* Ajusta la distancia desde la parte inferior de la imagen */
  left: 50%;
  transform: translateX(-50%); /* Centra el botón horizontalmente */
  z-index: 10; /* Asegura que el botón esté por encima de la imagen */
  font-size: 1em;
  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 2em;
}

.sliderFull .button-container {
  position: absolute;
  top: 50%; /* Coloca los botones verticalmente al centro */
  left: 50%;
  transform: translateX(-50%); /* Centra el botón horizontalmente */
  z-index: 10; /* Asegura que el botón esté por encima de la imagen */
  text-align: center;
}

.sliderFull .carousel-control-prev,
.sliderFull .carousel-control-next {
  position: absolute;
  top: 50%; /* Coloca los botones verticalmente al centro */
  transform: translateY(-50%); /* Centra los botones de forma precisa */
  z-index: 5; /* Los botones deben estar encima de la imagen */
  border: none; /* Elimina bordes */
  padding: 10px; /* Espaciado dentro de los botones */
  max-height: fit-content !important;
  min-height: fit-content !important;
  max-width: fit-content !important;
  min-width: fit-content !important;
}

.sliderFull .carousel-control-prev {
  left: 2%; /* Coloca el botón "prev" dentro de la imagen en el lado izquierdo */
}

.sliderFull .carousel-control-next {
  right: 2%; /* Coloca el botón "next" dentro de la imagen en el lado derecho */
}

.carousel-inner {
  position: relative; /* Asegura que los botones se posicionen dentro de este contenedor */
}

.carousel-item img {
  display: block; /* Elimina el espacio extra debajo de la imagen */
  margin: 0 auto; /* Centra la imagen horizontalmente */
  width: 70%; /* Ajusta el tamaño de la imagen */
  min-height: 88vh;
  max-height: 88vh; /* Mantiene la proporción de la imagen */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  filter: brightness(50%);
}
