/** sub areas **/
.services .subarea-item {
    background-color: var(--surface-color);
    box-shadow: 0px 5px 90px 0px rgba(0, 0, 0, 0.1);
    height: 100%;
    padding: 20px 10px;
    text-align: center;
    transition: 0.3s;
    border-radius: 5px;
  }
  
  .services .subarea-item .icon {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    position: relative;
  }
  
  .services .subarea-item .icon i {
    font-size: 36px;
    transition: 0.5s;
    position: relative;
  }
  
  .services .subarea-item .icon svg {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .services .subarea-item .icon svg path {
    transition: 0.5s;
    fill: color-mix(in srgb, var(--default-color), transparent 95%);
  }
  
  .services .subarea-item h3 {
    font-weight: 600;
    margin: 10px 0 15px 0;
    font-size: 1.25em;
    color: black !important;
  }
  
  .services .subarea-item:hover {
    box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.1);
  }
  
  .services .subarea-item.item-cyan i {
    color: #0dcaf0;
  }
  
  .services .subarea-item.item-cyan:hover .icon i {
    color: #fff;
  }
  
  .services .subarea-item.item-cyan:hover .icon path {
    fill: #0dcaf0;
  }
  
  .services .subarea-item.item-orange i {
    color: #fd7e14;
  }
  
  .services .subarea-item.item-orange:hover .icon i {
    color: #fff;
  }
  
  .services .subarea-item.item-orange:hover .icon path {
    fill: #fd7e14;
  }
  
  .services .subarea-item.item-teal i {
    color: #20c997;
  }
  
  .services .subarea-item.item-teal:hover .icon i {
    color: #fff;
  }
  
  .services .subarea-item.item-teal:hover .icon path {
    fill: #20c997;
  }
  
  .services .subarea-item.item-red i {
    color: #df1529;
  }
  
  .services .subarea-item.item-red:hover .icon i {
    color: #fff;
  }
  
  .services .subarea-item.item-red:hover .icon path {
    fill: #df1529;
  }
  
  .services .subarea-item.item-indigo i {
    color: #6610f2;
  }
  
  .services .subarea-item.item-indigo:hover .icon i {
    color: #fff;
  }
  
  .services .subarea-item.item-indigo:hover .icon path {
    fill: #6610f2;
  }
  
  .services .subarea-item.item-pink i {
    color: #f3268c;
  }
  
  .services .subarea-item.item-pink:hover .icon i {
    color: #fff;
  }
  
  .services .subarea-item.item-pink:hover .icon path {
    fill: #f3268c;
  }

  /* Green */
.services .subarea-item.item-green i {
  color: #28a745;
}

.services .subarea-item.item-green:hover .icon i {
  color: #fff;
}

.services .subarea-item.item-green:hover .icon path {
  fill: #28a745;
}

/* Purple */
.services .subarea-item.item-purple i {
  color: #6f42c1;
}

.services .subarea-item.item-purple:hover .icon i {
  color: #fff;
}

.services .subarea-item.item-purple:hover .icon path {
  fill: #6f42c1;
}

/* Yellow */
.services .subarea-item.item-yellow i {
  color: #ffc107;
}

.services .subarea-item.item-yellow:hover .icon i {
  color: #fff;
}

.services .subarea-item.item-yellow:hover .icon path {
  fill: #ffc107;
}